@keyframes bgAnim {
  0% {background-color: yellow;}
  50% {background-color: grey;}
  100% {background-color: yellow;}
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: none;
}
a:active {
  color: white;
  text-decoration: none;
}
body {
  background-color: #18171c;
  margin: 0px;
}
.image {
  height: 200px;
  transition: transform 0.2s;
}
.image:hover {
  transform: translate(10px, 20px);
}
#header {
  background: black;
  color: white;
  width: 100%;
  padding: 0px;
}
#headerContent {
  background: black;
  color: white;
  width: calc(100% - 20px);
  padding: 10px;
}
#header #title {
  font-size: 30px;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: black;
  color: white;
}
#footerContent {
  background: black;
  color: white;
  width: calc(100% - 20px);
  padding: 10px;
}
.fancyLine {
  background-color: grey;
  margin: 0px;
  height: 2px;
  width: 100%;
  animation: bgAnim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
p {
  margin: 0px;
}
#content {
  background-color: #18171c;
  color: white;
  padding: 6px;
  overflow-x: hidden;
  overflow-y: auto;
}
.post {
  background-color: black;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: auto;
}
.post #author {
  font-size: 16px;
}
.post #title {
  font-size: 22px;
}
.post #desc {
  font-size: 15px;
  color: lightgrey;
}
.post #about {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}
.post #thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 16px;
  float: right;
}
.post #divider {
  white-space: pre;
  font-size: 6px;
}
.postView {
  background-color: black;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: auto;
}
.postView #author {
  font-size: 16px;
}
.postView #title {
  font-size: 22px;
}
.postView #postText {
  white-space: pre-wrap;
  font-size: 15px;
  color: lightgrey;
  margin-left: 6px;
  margin-right: 6px;
}
.postView #about {
  margin-bottom: 5px;
  font-size: 12px;
  color: grey;
}
.postView #thumbnail {
  width: 120px;
  height: 120px;
  margin-left: 6px;
  margin-bottom: 6px;
  object-fit: cover;
  border-radius: 16px;
  float: right;
}
.postView #divider {
  white-space: pre;
  font-size: 6px;
}
#postEnd {
  background-color: black;
  padding: 6px;
  border-radius: 8px;
  color: lightgrey;
  font-size: 12px;
}
#backLink {
  text-decoration: underline;
  font-size: 16px;
}
