@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Crete+Round:ital@0;1&family=Crimson+Text&family=Playfair+Display:ital,wght@1,700&display=swap');

::-moz-selection { /* Code for Firefox */
  background: yellow;
}

::selection {
  background: lightgrey;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:active {
  color: black;
  text-decoration: none;
}
body {
  background-color: rgb(200, 200, 200);
  margin: 0px;
  margin-bottom: 80px;
  overflow-x: hidden;
  font-family: 'Crete Round', serif;
}
.image {
  height: 200px;
  transition: transform 0.2s;
}
.image:hover {
  transform: translate(10px, 20px);
}
#header {
  background: black;
  color: rgb(107, 199, 103);
  width: 100%;
  padding: 0px;
}
#headerContent {
  background: white;
  font-family: 'Crete Round';
  width: calc(100% - 20px);
  padding: 10px;
}
#headerContent #siteTitle {
  font-family: 'Crete Round';
  color: rgb(38, 130, 34);
  font-size: 30px;
  line-height: 35px;
}
#headerContent #siteMotto {
  font-family: 'Crete Round';
  color: rgb(46, 46, 46);
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: black;
  color: white;
}
#footerContent {
  background: white;
  color: rgb(46, 46, 46);
  font-family: 'Crete Round';
  width: calc(100% - 20px);
  padding: 10px;
}
.fancyLine {
  background-color: rgb(29, 145, 25);
  margin: 0px;
  height: 2px;
  width: 100%;
}
p {
  margin: 0px;
  padding: 0px;
}
#content {
  padding: 6px;
}
.post {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: auto;
  border: 0px solid rgba(38, 130, 34, 1);
  transition: border-width 0.1s, transform 0.1s;
}
.post:hover {
  border-width: 4px;
  transform: scale(0.98);
}
.post #author {
  font-size: 16px;
}
.post #title {
  font-size: 22px;
  color: rgb(22, 89, 19);
  margin-bottom: 4px;
}
.post #desc {
  font-size: 15px;
  color: rgb(46, 46, 46);
}
.post #about {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}
.post #thumbnail {
  height: 90px;
  max-width: 150px;
  object-fit: cover;
  border-radius: 16px;
  float: right;
  margin-right: 6px;
}
.post #divider {
  white-space: pre;
  font-size: 6px;
}
.postView {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: auto;
}
.postView #author {
  font-size: 16px;
}
.postView #title {
  font-size: 22px;
  color: rgb(22, 89, 19);
}
.postView #postText {
  white-space: pre-wrap;
  font-size: 15px;
  color: rgb(46, 46, 46);
  margin-right: 6px;
}
.postView #about {
  margin-bottom: 5px;
  font-size: 12px;
  color: grey;
}
.postView #thumbnail {
  height: 350px;
  max-width: 450px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 8px;
}
.postView #divider {
  white-space: pre;
  font-size: 6px;
}
.fakePost {
  background-color: white;
  color: black;
  padding: 6px;
  border-radius: 8px;
  margin-bottom: 8px;
  overflow: auto;
  border: 0px solid rgba(38, 130, 34, 1);
}
.fakePost #small {
  color: black;
  font-size: 12px;
}
